*{
    margin: 0;
    padding: 0;
}

.header{
    height: 10vh;
    background-color: #232f3e;
    /* display: flex;
    align-items: center;
    color: white; */
    
}
.header_item{
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}
.logo{
    height:40px;
    margin: 5px 10px 0px 10px;
    width: 143px;
}
nav ul li{
    margin: 0px 10px 0px 20px;
}
.search_box{
    width: 540px;

}
.india_logo{
    height: 20px;
    margin: 0px 10px 0px 10px;
}
.cart_logo{
    height: 40px;
    margin: 0px 10px 0px 10px;
}
.container{
    height: 220vh;
    /* width: 100vh; */
}
.main_content{
    /* display: flex; */
    height: 30vh;
}
.banner{
    height:80vh;
    width: 98.8vw;
    
}
.banner_text{
    position: relative;
    background-color: white;
    right: 0px;
    bottom: 30vh;
    text-align: center;
    /* width: 10px; */
    height: 5vh;
    /* justify-content: center; */
    padding-top: 5px;
}
.items{
    position: relative;
    height: 55vh;
    top: -15vh;
    list-style: none;
}
.items2{
    position: relative;
    height: 55vh;
    top: -22vh;
}
.items3{
    position: relative;
    height: 55vh;
    top: -29vh;
}
.content_img{
    display: flex;
    height: 50px;
}
main ul li img{
    height: 200px;
    padding: 5px;
    list-style: none;
}
.footer_container{
    background-color: #232f3e;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.footer_text{
    text-align: center;
    color: white;
}